body {
    margin: 0%;
    background-color: black;
}

div {
    margin-left: auto;
    margin-right: auto;
}

.star-sun {
    width: 10em; height: 10em;
    background-color: yellow;
    border-radius: 50%;
    margin-top: 15em;
}

.orbit {
    width: 14em; height: 14em;
    border: 2px solid;
    border-radius: 50%;
    margin-top: -12em;
    animation: rotate 4s infinite linear;
}
@keyframes rotate {
    from {
        transform: rotateZ(360deg);
      }
    to {
        transform: rotateZ(0deg);
    }
}
.suborbit {
    width: 4.8em; height: 4.8em;
    border: 2px solid;
    border-radius: 50%;
    margin-top: -4.429em;
    animation: rotate 2s infinite linear;
}
.moon {
    width: 1em; height: 1em;
    background-color: white;
    border-radius: 50%;
    margin-top: 4.4em;
}
.planet-mercury {
    width: 2em; height: 2em;
    background-color: brown;
    border-radius: 50%;
    margin-top: 13em;
}
.planet-venus {
    width: 3em; height: 3em;
    background-color: rgb(194, 171, 45);
    border-radius: 50%;
    margin-top: 2em;
}
.planet-earth {
    width: 4em; height: 4em;
    background-color: blue;
    border-radius: 50%;
    margin-top: 2em;
}