body {
  height: 100vh;
  background: linear-gradient(black, rgba(0, 0, 0, 0));
}

.planet,
.star {
  position: absolute;
  width: var(--size);
  height: var(--size);
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
  border-radius: 50%;
}

.sun {
  --size: 100px;
  --push: 0px;
  background: linear-gradient(45deg, goldenrod, yellow);
  animation: orbit 1s infinite linear;
}

.mercury {
  --size: 20px;
  --push: 80px;
  background: grey;
  animation: orbit 1.5s infinite linear;
}

.venus {
  --size: 24px;
  --push: 120px;
  background: orangered;
  animation: orbit 2s infinite linear;
}

.earth {
  --size: 40px;
  --push: 160px;
  background: cornflowerblue;
  animation: orbit 2.5s infinite linear;
}

.mars {
  --size: 30px;
  --push: 200px;
  background: crimson;
  animation: orbit 3s infinite linear;
}

.jupiter {
  --size: 70px;
  --push: 260px;
  background: darksalmon;
  animation: orbit 3.5s infinite linear;
}



  to {
    transform: rotate(360deg) translateX(var(--push));
  }
}
